#add-task-component {
    background-color: var(--clr-add-task-component-background);
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 4px;
}

#add-task-component label {
    color: var(--clr-add-task-label-color);
    font-size: 1.2rem;
}

#add-task-description {
    display: block;
    margin-top: 3px;
    border: 1px solid black;
    color: var(--clr-add-task-description-color);
}

#add-task-button {
    background-color: var(--clr-add-task-button-background);
    color: var(--clr-add-task-button-color);
}
