#lists-nav-bar {
    background-color: var(--clr-lists-nav-bar-background);
    min-width: 200px;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: flex-start;
}

#lists-nav-bar h2 {
    font-size: 2rem;
    color: var(--clr-lists-heading-color);
}

#lists-nav-bar #lists {
    margin-bottom: auto;
}

#lists-nav-bar .list {
    color: var(--clr-list-items-color);
    font-size: 1.5rem;
    list-style: square;
}

#lists-nav-bar #add-list-button {
    background-color: var(--clr-add-list-button-background);
    color: var(--clr-add-list-button-color);
    width: 110px;
    height: 30px;
    border-radius: 2px;
    margin: auto auto 20px auto;
}
